In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
pd.set_option('notebook_repr_html', True)
pd.set_option('max_columns', 50)

In [15]:
idx1 = ['a', 'b', 'c','d','e']
s1 = pd.Series(range(5), index = idx1)
s1

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [16]:
idx2 = ['apple','peach','pumpkin','cherry','rasberry']
s2 = pd.Series(range(5), index = idx2)
s2

apple       0
peach       1
pumpkin     2
cherry      3
rasberry    4
dtype: int64

In [17]:
s = pd.concat([s1,s2])
s

a           0
b           1
c           2
d           3
e           4
apple       0
peach       1
pumpkin     2
cherry      3
rasberry    4
dtype: int64

In [18]:
s['a']

0

In [19]:
s['cherry']

3

In [21]:
s['z'] = 42
s['d':'z']

d            3
e            4
apple        0
peach        1
pumpkin      2
cherry       3
rasberry     4
z           42
dtype: int64

In [22]:
dates = pd.date_range('4/26/15', periods = 10, freq = 'D')
dates

DatetimeIndex(['2015-04-26', '2015-04-27', '2015-04-28', '2015-04-29',
               '2015-04-30', '2015-05-01', '2015-05-02', '2015-05-03',
               '2015-05-04', '2015-05-05'],
              dtype='datetime64[ns]', freq='D')

In [23]:
dates[0]

Timestamp('2015-04-26 00:00:00', freq='D')

In [24]:
dates[0] + 1

Timestamp('2015-04-27 00:00:00', freq='D')

In [26]:
pd.date_range?

In [33]:
print(dates)
c0 = range(len(dates))
c1 = range(100, 100+len(dates))
d = {'col':pd.Series(c0, index = dates), 'col1':pd.Series(c1, index=dates)}
df = pd.DataFrame(d)
print(df)
print()
print(df['col1'])

DatetimeIndex(['2015-04-26', '2015-04-27', '2015-04-28', '2015-04-29',
               '2015-04-30', '2015-05-01', '2015-05-02', '2015-05-03',
               '2015-05-04', '2015-05-05'],
              dtype='datetime64[ns]', freq='D')
            col  col1
2015-04-26    0   100
2015-04-27    1   101
2015-04-28    2   102
2015-04-29    3   103
2015-04-30    4   104
2015-05-01    5   105
2015-05-02    6   106
2015-05-03    7   107
2015-05-04    8   108
2015-05-05    9   109

2015-04-26    100
2015-04-27    101
2015-04-28    102
2015-04-29    103
2015-04-30    104
2015-05-01    105
2015-05-02    106
2015-05-03    107
2015-05-04    108
2015-05-05    109
Freq: D, Name: col1, dtype: int64

In [34]:
type(_)

pandas._libs.tslibs.timestamps.Timestamp

In [36]:
df[-13:7]

            col  col1
2015-04-26    0   100
2015-04-27    1   101
2015-04-28    2   102
2015-04-29    3   103
2015-04-30    4   104
2015-05-01    5   105
2015-05-02    6   106

In [37]:
df.loc?
#induction general to specific
#deduction specific to general

In [2]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', 120)
pd.set_option('max_colwidth', 5000)
import matplotlib.pyplot as plt
# import seaborn as sns

plt.rcParams['figure.figsize'] = (12,8)
plt.show()